form{
     background-color: white;
    width: 100%;
padding: 160px;
    margin-right: 90px;
margin-bottom: 90px;
    margin-top: 90px;
    box-shadow: 12px 12px 12px gray;
}


legend{
    font-weight: bolder;
    text-align: center;
    color: #111210;
    font-size: 40px;
}

input[type=text],input[type=email]
,input[type=tel],select{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-outside: 10px;
    box-shadow: 4px 4px 12px rgb(170, 174, 174);

}

button{
    background-color: #4694e3;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
}